[Unit]
Description=Velociraptor EDR Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/micro-dfir
ExecStart=/opt/micro-dfir/bin/velociraptor --config /opt/micro-dfir/config/server.config.yaml frontend
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
